<h1>Hello App</h1>
<p>Car Listing: {{ display }}</p>
@for (agent of myData; track agent.id) {
    <h1>{{ agent.name }}</h1>
    <h2>Commision Structure</h2>
    <p>{{agent.commission.description}}</p>
    <h2>Properties under Management</h2>
    @for(props of agent.properties; track props.id) {
        <p>{{props.address}}</p>
    }
    <h2>Areas Covered by Agent</h2>
    <h3>Countries</h3>
    @for(area of agent.areas; track area.id) {
        <p>{{area.country}}</p>
    }
    <h3>Cities</h3>
    @for(area of agent.areas; track area.id) {
        <p>{{area.city}}</p>
    }
  }

<h1>Post component</h1>

<app-parent-post />
<router-outlet />

<!-- console.log(this.myData[0].properties[0].address); -->